{% render 'product_model_custom' %}
{%- style -%}
  aside.modal.product-modal.section .modal__container{
    background: rgba(var(--color-base-background-2));
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<aside class="modal product-modal section">
  <div class="modal__container color-{{ section.settings.color_scheme }} background-{{ section.settings.background_style }}">
    <div class="modal__header">
      <h3 class="savings__title">How are our prices possible?</h3>
    </div>

    <div class="modal__content">
      <section class="savings__wrapper">
        <p class="savings__description">Unlike traditional retail, we manage all aspects of production, from design to quality assurance. By offering products directly to you, we are able to eliminate costly factors such as middlemen, retail operations, inventory, and high overhead. All the savings are passed on to you.</p>

        <div class="savings__prices">
          <div class="savings__price">
            <span class="savings-price__name">Adoro</span>
            <span class="savings-price__box">
              <span class="savings-price__box-steps">Factory
                <span class="icon icon--thin-arrow-right"></span> You
              </span>

              <span class="savings-price__price medium-up-hide">$199</span>
            </span>
            <span class="savings-price__price small-hide"><span class="icon icon--large-thin-arrow-right large-icon"></span> $199</span>
          </div>

          <div class="savings__price">
            <span class="savings-price__name">TRADITIONAL RETAIL</span>
            <span class="savings-price__box">
              <span class="savings-price__box-steps">Factory
                <span class="icon icon--thin-arrow-right"></span> Sourcing Agent
                <span class="icon icon--thin-arrow-right"></span> Brand
                <span class="icon icon--thin-arrow-right"></span> Distributor
                <span class="icon icon--thin-arrow-right"></span> Retailer
                <span class="icon icon--thin-arrow-right"></span> You
              </span>

              <span class="savings-price__price medium-up-hide two">$600</span>
            </span>
            <span class="savings-price__price small-hide"><span class="icon icon--large-thin-arrow-right large-icon"></span>$600</span>
          </div>
        </div>
      </section>
    </div>
  </div>
</aside>
{% schema %}
  {
    "name": "cust text bar section",
    "settings": [
      {
        "type": "select",
        "id": "background_style",
        "options": [
          {
            "value": "none",
            "label": "t:sections.multicolumn.settings.background_style.options__1.label"
          },
          {
            "value": "primary",
            "label": "t:sections.multicolumn.settings.background_style.options__2.label"
          }
        ],
        "default": "primary",
        "label": "t:sections.multicolumn.settings.background_style.label"
      },
      {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    }
    ],
    "presets": [
      {
        "name": "cust text bar section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}